<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h2>Dados do Imóvel</h2>
        <input type = "integer" name = "area" placeholder="Áreas">
        <input type = "integer" name = "rooms" placeholder="Quartos">
        <input type = "integer" name = "bathrooms" placeholder="Banheiros">
        <input type = "integer" name = "parking spaces" placeholder="Garagens">
        <input type = "integer" name = "floor" placeholder="Andar">
        <input type = "integer" name = "animal" placeholder="Animais">
        <input type = "integer" name = "furniture" placeholder="Mobiliado">
        <button>Enviar</button>
    </form>
</body>
</html>