<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}" defer></script>
</head>
<body>
    <container>
        <h2>Dados do Imóvel</h2>
        <input type="number" class="area" placeholder="Área (m²)" min="0">
        <input type="number" class="rooms" placeholder="Quartos" min="0">
        <input type="number" class="bathrooms" placeholder="Banheiros" min="0">
        <input type="number" class="parking_spaces" placeholder="Garagens" min="0">
        <input type="number" class="floor" placeholder="Andar" min="0">
        
        <div class="radio-group">
            <label>Aceita animais?</label>
            <div>
                <input type="radio" id="animal-sim" name="animal" value="1">
                <label for="animal-sim">Sim</label>
                <input type="radio" id="animal-nao" name="animal" value="0" checked>
                <label for="animal-nao">Não</label>
            </div>
        </div>
        
        <div class="radio-group">
            <label>Mobiliado?</label>
            <div>
                <input type="radio" id="furniture-sim" name="furniture" value="1">
                <label for="furniture-sim">Sim</label>
                <input type="radio" id="furniture-nao" name="furniture" value="0" checked>
                <label for="furniture-nao">Não</label>
            </div>
        </div>
        
        <button onclick="send()">Enviar</button>
        <h3>Resultado</h3>
        <div class="result"></div>
    </container>
</body>
</html>